<footer>

    <div class="f-info ">
        <span class="first-links">
            <span>&copy;2024 Airbnb, Inc</span>
            <span>.</span>
            <a href="/privacy">Privacy</a> 
            <span>.</span>
            <a href="/privacy">Term</a> 
            <span>.</span>
            <a href="/privacy">Sitemap</a> 
            <span>.</span>
            <a href="/privacy">Company details</a> 
        </span>
        
        <span class="f-info-2nd " >
            
            <a href="/privacy"><i class="fa-solid fa-globe">&nbsp;</i>English(IN)</a>
            
            <a href="/privacy"><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;INR</a> 
            <a href="/privacy">Support & Resouces</a> 
        </span>
        
    </div>
</footer>