<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><div class="nav-div"><img src="/css/image/airbnb-logo.png" height="20px" width="20px"> <b>airbnb</b></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="/">Home</a>
        <a class="nav-link" href="/arbnb">All Listing</a>
        <a class="nav-link" href="/arbnb/new">Add new Listing </a>
       
      </div>
    </div>
  </div>
</nav>