<% layout("/layouts/boilerplate") %>

<div class="row offset-3 mt-5 col-5">
    
    <div class="alert alert-danger" role="alert">
        <div class="err" style="color: brown;">
            <p>something went Wrong!</p>
        </div>
       <%-message%>
      
       <!-- if() -->
      </div>
</div>
